.business-insurance .box-menus .item-box {
  background-image: none !important;
  background-color: transparent !important;
}
.business-insurance .main-nav{
  background: url(../images/sub-pages/business-insurance-bg.jpg) no-repeat;
  background-size: cover;
}
.business-insurance .box-menus h4 a span {
  text-align: center;
}
h4.d-inline-flex.flex-column{
  padding-top: 70px;
}
div#top-left-container:focus div#top-left,
div#top-middle-container:focus div#top-middle,
div#top-right-container:focus div#top-right,
div#middle-left-container:focus div#middle-left,
div#middle-middle-container:focus div#middle-middle,
div#middle-right-container:focus div#middle-right,
div#bottom-left-container:focus div#bottom-left,
div#bottom-middle-container:focus div#bottom-middle,
div#bottom-right-container:focus div#bottom-right  {
  background: #1e518a;
}

#top-middle-container > div.expanded-menu.align-items-center.justify-content-center.dash-transition ul li {
 padding-bottom: 0;
}

#top-middle-container > div.expanded-menu.align-items-center.justify-content-center.dash-transition > h4 > a, #business-insurance > div.expanded-menu.align-items-center.justify-content-center.dash-transition > h4 > a, #news > div.expanded-menu.align-items-center.justify-content-center.dash-transition > h4 > a {
  padding-top: 0;
}

@media (min-width: 768px){
    .business-insurance .box-menus .item-box {
        min-height: 300px;
    }
}

@media only screen  and (min-width : 1824px) {
    .business-insurance .box-menus .item-box {
        min-height: 400px;
    }
}