.business-insurance .box-menus .item-box {
  background-image: none !important;
  background-color: transparent !important;
  min-height: 350px;
}

.business-insurance .main-nav{
  background: url(../images/sub-pages/business-insurance-bg.jpg) no-repeat;
  background-size: cover;
}

.business-insurance .box-menus h4 a span {
  text-align: center;
}