/************ Main Dashboard Content ************/
 .btn-event {
     padding: 6px;
}
.bg-cover-img img{
     visibility: hidden;
     width: 100%;
     height: 100% 
}
#safety > .bg-cover-img {
     background: url("../images/dashboard/safety.jpg") no-repeat center;
     background-size: cover;
}

 #employee-benefits > .bg-cover-img {
     background: url("../images/dashboard/employee-benefits.jpg") no-repeat center;
     background-size: cover;
}
 #news > .bg-cover-img {
     background: url("../images/dashboard/news.jpg") no-repeat center;
     background-size: cover;
}
 #documents > .bg-cover-img{
     background: url("../images/dashboard/documents.jpg") no-repeat center;
     background-size: cover;
}
 #claims > .bg-cover-img{
     background: url("../images/dashboard/claims.jpg") no-repeat center;
     background-size: cover;
}
 #business-insurance > .bg-cover-img{
     background: url("../images/dashboard/business-insurance.jpg") no-repeat center;
     background-size: cover;
}
 #risk-score > .bg-cover-img {
     background: url("../images/dashboard/risk-score.jpg") no-repeat center;
     background-size: cover;
}
 #webinar > .bg-cover-img {
     background: url("../images/dashboard/webinar.jpg") no-repeat center;
     background-size: cover;
}
 #human-resource > .bg-cover-img{
     background: url("../images/dashboard/human-resource.jpg") no-repeat center;
     background-size: cover;
}
 #middle-middle-container .image-tran-wrap .bg-cover-img{
     background-size: cover;
}
 #middle-middle-container > .bg-cover-img, #middle-middle-container .image-tran-wrap .bg-cover-img{
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
 #bottom-middle-container .bg-cover-img {
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}
 .dash-1 {
     background: url("../images/dashboard/icons/dash-1.png") no-repeat;
     width: 50px;
     height: 50px;
}
 .dash-2 {
     background: url("../images/dashboard/icons/dash-2.png") no-repeat;
     width: 50px;
     height: 50px;
}
 .dash-3 {
     background: url("../images/dashboard/icons/dash-3.png") no-repeat;
     width: 50px;
     height: 50px;
}
 .dash-4 {
     background: url("../images/dashboard/icons/dash-4.png") no-repeat;
     width: 50px;
     height: 50px;
}
 .dash-5 {
     background: url("../images/dashboard/icons/dash-5.png") no-repeat;
     width: 50px;
     height: 35px;
}
 .dash-6 {
     background: url("../images/dashboard/icons/dash-6.png") no-repeat;
     width: 50px;
     height: 50px;
}
 .dash-7 {
     background: url("../images/dashboard/icons/dash-7.png") no-repeat;
     width: 50px;
     height: 50px;
}
 .dash-8 {
     background: url("../images/dashboard/icons/dash-8.png") no-repeat;
     width: 70px;
     height: 50px;
}
 .dash-9 {
     background: url("../images/dashboard/icons/dash-9.png") no-repeat;
     width: 50px;
     height: 50px;
}
 .dash-10 {
     background: url("../images/dashboard/icons/dash-10.png") no-repeat;
     width: 50px;
     height: 50px;
}
 .dash-11 {
     background: url("../images/dashboard/icons/dash-11.png") no-repeat;
     width: 50px;
     height: 50px;
}
/************ Team Carousel ************/
 .carousel-control-prev-icon {
     background-image : url("../images/menu/left-carousel.png");
     width: 14px;
     height: 24px;
}
 .carousel-control-next-icon {
     background-image : url("../images/menu/right-carousel.png");
     width: 14px;
     height: 24px;
}
 .team {
     padding: 0px 15%;
     line-height: 19px;
}
 .team img {
     margin-bottom: 10px;
     padding: 0 15px;
}
 .team-title {
     font-size: 13px;
}
/************ Calendar ************/
 .sb-top {
     color: #000;
     background-color: #f4f4f4;
}
 body{
     display: block;
}
 .events {
     color: #fff;
     font-size: 12px;
}
 .events .row {
     background-color: #66bcf5;
     border-top: 1px solid #fff;
     padding: 5px 10px 5px 10px;
     margin-left: 0px;
     margin-right: 0px;
}
 .events h5 {
     margin: 0;
     font-size: 16px;
}
 .events .date {
     font-size: 18px;
     line-height: 20px;
     display: block;
     text-align: center;
}
 .events .date strong {
     font-size: 39px;
     line-height: 35px;
}
 .venue {
     line-height: 13px;
}
 .sb-top h1 {
     padding: 80px 0 50px;
     font-weight: 100;
     font-size: 60px;
}
 .sb-top h1 strong {
     font-weight: bold;
}
 .dashboard-calendar {
     background-color: #045791;
}
 .events .btn-primary {
     border-top: 1px solid #fff;
     border-left: 1px solid #fff;
     border-right: 0px solid #fff;
     border-bottom: 1px solid #045791;
     bottom: 0;
}
 .right-sidebar {
     position: relative;
     bottom: 0;
}
 .box-menus .item-box .image-transition{
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}
 @media (max-width: 767px) {
     .webinar {
         height: auto !important;
    }
}
 .carousel-control-prev {
     left: -21%;
}
 .carousel-control-next {
     right: -21%;
}
/************ Top Navigation ************/
 #top-nav-container {
     list-style: none;
}
 #top-nav-container i {
     font-size: 23px;
     padding: 13px;
     color: #fff;
}
 .position-top-nav {
     position: absolute;
     top: -9999px;
     left: -9999px;
}
 label {
     display: block;
     width: 6.5%;
     text-align: center;
     float: left;
     overflow: hidden;
     -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
     -o-transition: width 1s ease, background 0.5s ease;
     -ms-transition: width 1s ease, background 0.5s ease;
     transition: width 1s ease, background 0.5s ease;
}
 #top-nav-container2+label {
     -webkit-transition: width 1s ease, background 0.5s ease;
     -moz-transition: width 1s ease, background 0.5s ease;
     -o-transition: width 1s ease, background 0.5s ease;
     -ms-transition: width 1s ease, background 0.5s ease;
     transition: width 1s ease, background 0.5s ease;
}
 .top-nav-title:hover, #top-nav-container2+label:hover {
     color: #fff;
     cursor: pointer;
}
 .top-nav-content {
     color: #333;
     display: block;
     height: 73px;
     width: 0px;
     float: left;
     overflow: hidden;
     -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
     -o-transition: all 1s ease;
     -ms-transition: all 1s ease;
     transition: all 1s ease;
}
 .top-nav-content img {
     margin-top: 10px;
}
 input[type="radio"]:checked+label~.top-nav-content {
     width: 40%;
}
 .top-navi{
     text-align: right;
}
 .top-navi-item:hover {
     opacity: 0.9;
     cursor: pointer;
}
 .top-navi .top-navi-item {
     text-align: center;
     padding: 8px 5px;
}
 .top-navi .top-navi-item a, .top-navi .top-navi-item {
     color: #fff;
}
 .form-s-wrap form{
     padding-right: 45px;
     margin-left: 7px;
}
 .form-s-wrap.f-expanded form input{
     background-color: #fff;
}
 .form-s-wrap form input{
     background-color: transparent;
     min-width: 45px;
}
 .form-s-wrap.f-wauto{
     width: 50px !important;
}
 .search-nav-wrap .btn-search{
     position: absolute;
     right: 0;
     color: #fff;
     top: 0;
     min-width: 45px;
     min-height: 40px;
     z-index: 5;
}
 .weather.f-expanded .weather-wrap .weather-item, .stock.f-expanded .stock-wrap .stock-item{
     width: 114px;
     padding: 0 10px;
     display: inline-block;
}
 .weather i {
     margin-right: -10px;
}
 .cloud {
     margin-top: -9px;
     margin-bottom: 7px;
}
.row-header, .modal-header{
    background-image: linear-gradient(to bottom right,#2c83bc,#0f66a3);
}
.modal-header{
    padding: 0 !important;
    border: 0 !important;
}
.modal-header .close {
    top: 15px;
    z-index: 9;
}
 .clear-sky {
    background: url(../images/dashboard/icons/clear-sky.png) no-repeat center;
    height: 53px;
    width: 50px;
    margin-bottom: 5px;
}

 .scattered-clouds {
    background: url(../images/dashboard/icons/scattered-clouds.png) no-repeat center;
    height: 53px;
    width: 50px;
    margin-bottom: 5px;
}

 .rain {
    background: url(../images/dashboard/icons/rain.png) no-repeat center;
    height: 53px;
    width: 50px;
    margin-bottom: 5px;
}

 .snow {
    background: url(../images/dashboard/icons/snow.png) no-repeat center;
    height: 53px;
    width: 50px;
    margin-bottom: 5px;
}

 .thunderstorm {
    background: url(../images/dashboard/icons/thunderstorm.png) no-repeat center;
    height: 53px;
    width: 45px;
    margin-bottom: 5px;
}
 .stock-wrap .stock-item, .weather-wrap .weather-item{
     padding: 0;
     position: relative;
     width: 0;
     display: none;
}
 .stock > .stock-item{
     width: 100%;
}
 .stock-wrap .stock-item:last-child, .weather-wrap .weather-item:last-child{
     display: inline-block;
     padding: 0 10px;
     width: 114px;
}
 .stock-wrap .stock-item:before, .weather-wrap .weather-item:before {
     position: absolute;
     content: "";
     background-color: #fff;
     width: 1px;
     height: 30px;
     right: 0;
     margin-top: -15px;
     top: 50%;
}
 .stock-wrap .stock-item:last-child:before, .weather-wrap .weather-item:last-child:before{
     display: none;
}
 .top-navi .top-navi-item sup {
     font-size: 7px;
     position: relative;
     top: -6px;
}
 sup {
     font-size: 10px;
}

.t-sup { 
    font-size: 13px;
}
 .mw-13 {
     min-width: 13%;
}
 .lblue {
     background-color: #63bdf5;
     height: 65px;
}
 .dblue {
     background-color: #2ea6f1;
}
 .date-time {
     font-size: 11px;
     margin-top: -20.5px;
}
 .expand-item{
     float: left;
     padding: 0 1%;
     width: 33.333333%;
}
 .expand-item .top-navi-item{
     padding: 0;
}
 .expand-item .date-time{
     white-space: nowrap;
}
 .weather-item{
     position: relative;
}
 .weather-item:before{
     position: absolute;
     content: "";
     height: 40px;
     top: 50%;
     left: -4%;
     margin-top: -20px;
     background-color: #fff;
     width: 1px;
     opacity: 0.2;
}
 .stock-item .col-9{
     padding: 15px 5px;
}
 .weather-wrap .stock-item{
     float: left;
     padding: 0 1%;
     width: 33.333333%;
}
 .weather-wrap .stock-item .top-navi-item{
     padding: 0;
}
 .weather-wrap .stock-item .date-time{
     white-space: nowrap;
}
 .weather-wrap .stock-item{
     position: relative;
}
 .weather-wrap .stock-item:before{
     position: absolute;
     content: "";
     height: 40px;
     top: 50%;
     left: -4%;
     margin-top: -20px;
     background-color: #fff;
     width: 1px;
     opacity: 0.2;
}
 .stock-item .small{
     white-space: nowrap;
}
 .top-nav-content-search form{
     margin-top: 15px;
}
 .top-nav-title-search.top-nav-title:hover {
     color: #000;
}
/*full weather css*/
.weather-only .expand-item {
    width: 25%;
}
input[type="radio"]:checked+label~.top-nav-content.weather-only{
    width: 60%;
}

.carousel-item .col-6{
    word-wrap: break-word;
}
.carousel.slide{
    min-height: 290px;
}
.modal-title{
    color: #fff;
    margin: 0 !important;
}
@media (max-width: 991px){
    .modal-header {
        display: block;
    }
    .modal.show .modal-dialog{
        display: block !important;
    }
}
@media (max-width: 1300px){
    #top-nav-container .top-nav-social i {
        padding: 15px 0
    }
    .top-navi  .top-nav-social .top-navi-item {
        min-width: 0;
    }
}
@media (max-width: 992px){
    .profile-img {
        position: static;
        max-width: 100%;
    }
    .profile-container {
        padding-top: 0 !important;
    }
}
.team-alt{
    opacity: 0;
 }

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
     .box-menus .item-box{
        min-height: 170px;
    }
    .sb-top h1 {
        font-size: 45px;
        padding: 0;
    }
    .img-fluid {
        max-width: 90%;
    }
}

/* Large screens ----------- */
@media only screen and (min-width : 1824px) {
     .box-menus .item-box {
        min-height: 190px;
    }

    .sb-top h1 {
        font-size: 45px;
        padding-top: 100px;
    }
}