/************ Main Dashboard Content ************/

.right-sidebar {
  background-color: #f5f5f5;
}


.btn-event {
  padding: 12.5px;
}

.dash-transition {
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

#safety > .bg-cover-img{ background-image: url("../images/dashboard/safety.jpg");background-repeat: no-repeat;background-size: cover;background-position: center }
.bg-cover-img img{ visibility: hidden;width: 100%;height: 100% }
#human-resource .bg-cover-img{ background-image: url("../images/dashboard/human-resource.jpg");background-repeat: no-repeat;background-size: cover;background-position: center }
#employee-benefits > .bg-cover-img { background-image: url("../images/dashboard/employee-benefits.jpg");background-repeat: no-repeat;background-size: cover;background-position: center  }
#documents > .bg-cover-img{ background-image: url("../images/dashboard/documents.jpg");background-repeat: no-repeat;background-size: cover;background-position: center  }
#business-insurance > .bg-cover-img,
#business-insurance .image-tran-wrap .bg-cover-img{ background-image: url("../images/dashboard/business-insurance.jpg");background-repeat: no-repeat;background-size: cover;background-position: center  }
#claims > .bg-cover-img{ background-image: url("../images/dashboard/claims.jpg");background-repeat: no-repeat;background-size: cover;background-position: center  }
#risk-score > .bg-cover-img { background-image: url("../images/dashboard/risk-score.jpg");background-repeat: no-repeat;background-size: cover;background-position: center  }
#news .bg-cover-img { background-image: url("../images/dashboard/news.jpg");background-repeat: no-repeat;background-size: cover;background-position: center  }
#webinar > .bg-cover-img { background-image: url("../images/dashboard/webinar.jpg");background-repeat: no-repeat;background-size: cover;background-position: center  }

.dash-1 { background: url("../images/dashboard/icons/dash-1.png") no-repeat; width: 50px; height: 50px; }
.dash-2 { background: url("../images/dashboard/icons/dash-2.png") no-repeat; width: 50px; height: 50px; }
.dash-3 { background: url("../images/dashboard/icons/dash-3.png") no-repeat; width: 50px; height: 50px; }
.dash-4 { background: url("../images/dashboard/icons/dash-4.png") no-repeat; width: 50px; height: 50px; }
.dash-5 { background: url("../images/dashboard/icons/dash-5.png") no-repeat; width: 50px; height: 35px; }
.dash-6 { background: url("../images/dashboard/icons/dash-6.png") no-repeat; width: 50px; height: 50px; }
.dash-7 { background: url("../images/dashboard/icons/dash-7.png") no-repeat; width: 50px; height: 50px; }
.dash-8 { background: url("../images/dashboard/icons/dash-8.png") no-repeat; width: 70px; height: 50px; }
.dash-9 { background: url("../images/dashboard/icons/dash-9.png") no-repeat; width: 50px; height: 50px; }
.dash-10 { background: url("../images/dashboard/icons/dash-10.png") no-repeat; width: 50px; height: 50px; }
.dash-11 { background: url("../images/dashboard/icons/dash-11.png") no-repeat; width: 50px; height: 50px; }

/************ Team Carousel ************/
.carousel-control-prev-icon { background-image : url("../images/menu/left-carousel.png"); width: 14px; height: 24px; }
.carousel-control-next-icon { background-image : url("../images/menu/right-carousel.png"); width: 14px; height: 24px; }

.team {
  padding: 0px 15%;
  line-height: 19px;
}

.team img {
  margin-bottom: 10px;
  padding: 0 15px;
}

.team-title {
  font-size: 14px;
}

/************ Calendar ************/


.sb-top {
  color: #000;
}

.events {
  color: #fff;
  font-size: 12px;
}

.events .row {
  background-color: #66bcf5;
  border-top: 1px solid #fff;
  padding: 10px;
}

.events h5 {
  margin: 0;
  font-size: 16px;
}

.events .date {
  font-size: 18px;
  line-height: 20px;
  display: block;
  text-align: center;
}

.events .date strong {
  font-size: 39px;
  line-height: 35px;
}

.venue {
  line-height: 13px;
}

.sb-top h1 {
  padding: 80px 0 50px;
  font-weight: 100;
  font-size: 60px;
}

.sb-top h1 strong {
  font-weight: bold;
}

.dashboard-calendar {
  background-color: #045791;
  border-top: 1px solid #fff;
  border-color: #fff;
}

.box-menus .item-box .image-transition{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .webinar {
    height: auto !important;
  }
}

.image-transition {
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -o-transition: 0.8s;
  -ms-transition: 0.8s;
  transition: 0.8s;
  height: auto;
}

.image-transition:hover, .box-menus .item-box:hover .image-transition {
  -moz-transform: scale(1.25) rotate(0deg);
  -webkit-transform: scale(1.25) rotate(0deg);
  -o-transform: scale(1.25) rotate(0deg);
  -ms-transform: scale(1.25) rotate(0deg);
  transform: scale(1.25) rotate(0deg);
  -webkit-transition: 5s;
  -moz-transition: 5s;
  -o-transition: 5s;
  -ms-transition: 5s;
  transition: 5s;
  background-color: red !important;
}

.carousel-control-prev {
  left: -21%;
}

.carousel-control-next {
  right: -21%;
}