/************ Global Navigation Styling ************/


div#top-left-container:focus div#top-left, div#top-middle-container:focus div#top-middle, div#top-right-container:focus div#top-right, div#middle-left-container:focus div#middle-left, div#middle-middle-container:focus div#middle-middle, div#middle-right-container:focus div#middle-right, div#bottom-left-container:focus div#bottom-left, div#bottom-middle-container:focus div#bottom-middle, div#bottom-right-container:focus div#bottom-right {
     display: block !important;
     position: absolute;
     width: 100%;
     height: 120%;
     z-index: 9;
     border: 15px solid #fff;
     cursor: pointer;
     overflow-y: hidden;
}
 span.exit.pull-right{
     position: absolute;
     right: 15px;
     top: 15px;
     z-index: 990;
     display: none;
     font-size: 24px;
}
 .expanded-menu-1{
     top:0;
}
 .expanded-menu-2{
     top: -25px;
}
 .expanded-menu-3{
     top: -40px;
}
 .no-scroll{
     overflow-y: hidden;
}
 @media (max-width: 767px) {
     body{
         padding: 0;
    }
     div#human-resource:focus{
         position: absolute;
    }
     div#top-left-container:focus div#top-left, div#top-middle-container:focus div#top-middle, div#top-right-container:focus div#top-right, div#middle-left-container:focus div#middle-left, div#middle-middle-container:focus div#middle-middle, div#middle-right-container:focus div#middle-right, div#bottom-left-container:focus div#bottom-left, div#bottom-middle-container:focus div#bottom-middle, div#bottom-right-container:focus div#bottom-right {
         width: 100%;
         position: fixed;
         top: 0;
         left: 0;
         height: 320%;
         border: 0;
    }
     .box-menus .expanded-menu:before {
         background-image: linear-gradient(to bottom right,#1f88d8,#1f89d9);
         opacity: .55;
    }
     .box-menus .expanded-menu:before:hover{
         boder:0;
    }
     div#two:hover{
         boder:0 !important;
    }
     div#news:focus div#risk-score{
         position: absolute !important;
    }
     span.exit.pull-right{
         display: block;
    }
     ul.nav-sub-2.text-left{
         text-align: center !important;
    }
     .btn-open{
         top: 0;
    }
     .box-menus h4 span {
         display: block;
         text-align: center;
         margin: 10px auto;
    }
     div.expanded-menu.align-items-center.justify-content-center.dash-transition > h4 > a, #business-insurance > div.expanded-menu.align-items-center.justify-content-center.dash-transition > h4 > a, #news > div.expanded-menu.align-items-center.justify-content-center.dash-transition > h4 > a{
         margin-top: 60px;
    }
     ul.nav-sub-2.text-left li a{
         font-size:18px;
         font-weight: 100;
         margin-bottom: 15px;
    }
     ul.nav-sub-2.text-left{
         margin-top: 30px;
    }
     h4.d-inline-flex.flex-column ul.nav-sub-2 li{
         padding-bottom: 35px !important;
    }
     .chrome-even-numbers{
         left: -100%;
    }
     div#human-resource:focus body#body{
         overflow-y: hidden;
    }
}
 @media (max-width: 767px) and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
     .even-numbers{
         left: -100%;
    }
}