.news-and-updates{
     color: #000;
}
 .news-and-updates .main-content-page {
     color: #000;
}
 #news-fap h4{
     color: #fff;
     font-size: 50px;
     line-height: 42px;
}
 .news-and-updates .main-nav{
     background: #f3f4f4;
}
 .news-and-updates .box-menus .item-box:hover {
     border: 0;
     cursor: inherit;
}
 .news-and-updates .box-menus .item-box:before {
     display: none;
}
 #news-fap {
     background-image: url(../images/sub-pages/news-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     position: relative;
}
#news-fap:before{
    width: 100%;
    height: 100%;
    content: "";
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
.news-and-updates .custom-fieldset{
    border: 1px solid #005697;
    padding: 10px 15px 5px;
    height: 100%;
    position: relative;
    margin-top: 10px;
}
.news-and-updates .custom-legend{
    width: auto;
    color: #005697;
    padding: 3px 9px;
    background-color: #f3f4f4;
    font-size: 13px;
    position: absolute;
    left: 15px;
    z-index: 2;
    top: -9px
}
.news-and-updates .custom-fieldset:hover{
    background-color: #005697;
    color: #fff;
    cursor: pointer;
}
.news-fap:hover {
    background-image: none;
}
 .latest-news h2{
     font-size: 30px;
     line-height: 32px;
     color: #005697;
}
 .content-parag{
     font-size: 14px;
     line-height: 15px;
}
 .news-and-updates .box-menus .item-box{
     background-color: transparent;
}
 .filter-category select{
     padding: 10px;
     background: transparent;
     min-width: 250px;
}
 .news-and-updates fieldset{
     border: 1px solid #005697;
     padding: 10px 15px;
     height: 100%;
}
 .news-and-updates legend{
     width: auto;
     color: #005697;
     padding: 0 9px;
     background-color: #f3f4f4;
     font-size: 13px;
}
 .news-and-updates fieldset:hover{
     background-color: #005697;
     color: #fff;
     cursor: pointer;
}
 .box-menus legend a{
     color: #005697;
}
 .news-date {
     color: #005697;
     font-size: 39px;
}
 .news-date .special-mon{
     font-weight: bold;
}
 .news-date sup{
     font-size: 29px;
}
 .news-content{
     word-wrap: break-word;
 }
 .news-content h3{
     font-size: 16px;
     color: #005697;
}
 .news-and-updates .custom-fieldset:hover .news-date, .news-and-updates .custom-fieldset:hover .news-content h3{
     color: #fff;
}
 .mCSB_outside+.mCS-minimal-dark.mCSB_scrollTools_vertical {
     right: -30px;
}
 .mCS-minimal-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
     background-color: #323232 !important;
     width: 6px !important;
}

 .box-menus .item-box:hover:before, .box-menus .learn-more-box:before, .box-menus .learn-more-box:hover {
     background-image: none;
}

 select.category_s {
     padding: 5px 10px;
     background: inherit;
     height: 40px;
     line-height: 20px;
     border: 1px solid #646565;
     border-radius: 0px;
     -webkit-appearance: none;
     font-weight: bold;
     position: relative;
     background-image: url("../images/icons/search_icon.png");
     background-repeat: no-repeat;
     background-position: right center;
}

@media (min-width: 768px){
    .box-menus .item-box, .box-menus .item-box  {
        min-height: 100%;
    }

    #news-fap {
        min-height: 640px;
    }
}