.policies .main-nav{
     background: #4978ae;
}
 .policies .box-menus .item-box:hover {
     border: 0;
     cursor: inherit;
}
 .policies .box-menus .item-box:before {
     display: none;
}
 #policies-fap{
     padding-bottom: 5%;
     background-image: url(../images/dashboard/business-insurance.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     position: relative;
}
#policies-fap:before{
    width: 100%;
    height: 100%;
    content: "";
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4978ae+0,207cca+0,2989d8+0,000256+48,0b0059+100,207cca+100 */
    background: #4978ae; /* Old browsers */
    background: -moz-linear-gradient(top, #4978ae 0%, #207cca 0%, #2989d8 0%, #000256 48%, #0b0059 100%, #207cca 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4978ae 0%,#207cca 0%,#2989d8 0%,#000256 48%,#0b0059 100%,#207cca 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4978ae 0%,#207cca 0%,#2989d8 0%,#000256 48%,#0b0059 100%,#207cca 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4978ae', endColorstr='#207cca',GradientType=0 ); /* IE6-9 */
}
#policies-fap h5, #policies-fap ul{
    z-index: 2;
}
 .links-list li{
     padding-left: 30px;
     position: relative;
     margin-bottom: 7px;
}
 .links-list li:before{
     position: absolute;
     content: "\f08e";
     left: 0;
     top: 0;
     font-family: "fontAwesome" 
}
 #policies-fap h4{
     font-size: 40px;
     line-height: 42px;
 }
 #search-items{
     background-color: #fff;
     color: #000;
     padding: 0;
}
 #search-items a{
     color: #000;
}
 .main-nav #start-date.col-sm-6, .main-nav #ends-date.col-sm-6{
     padding: 0;
}
 #start-date li, #ends-date li{
     padding: 15px 5px;
     margin-bottom: 10px;
     height: 51px;
}
 #start-date li:hover, #ends-date li:hover, #start-date li.active, #ends-date li.active{
     background-color: #d42043;
     color: #fff;
}
 #start-date li:first-child, #ends-date li:first-child{
     background-color: #005596;
}
 #search-items select{
     padding: 15px 10px;
     height: 51px;
     border: 1px solid #646565;
     background-color: #e1e3e3;
     width: 100%;
     -webkit-appearance: none;
     font-weight: bold;
     font-size: 18px;
     position: relative;
     background-image: url("../images/search_icon.png");
     background-repeat: no-repeat;
     background-position: right center;
}
 #search-items select:after{
     position: absolute;
     content: "abc";
}
 #search-items input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
     font-weight: bold;
     font-size: 25px;
     color: #000;
}
 #search-items input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
     font-weight: bold;
     font-size: 25px;
     color: #000;
}
 #search-items input::-ms-input-placeholder {
    /* Microsoft Edge */
     font-weight: bold;
     font-size: 25px;
     color: #000;
}
 #search-items input{
     height: 51px;
     padding: 15px 55px 15px 10px;
     border: 1px solid #646565;
     border-left: 0;
     width: 100%;
}
 .col-results{
     padding: 10px 0;
}
 .col-results .list li{
     padding: 10px 15px 10px 90px;
     background: url("../images/pdf_normal.png") no-repeat 50px center;
}
 .p-search-wrap:after{
     position: absolute;
     content: "\f002";
     left: auto;
     font-size: 20px;
     top: 50%;
     font-family: "fontAwesome";
     right: 15px;
     margin-top: -10px;
}
 .col-results .list li:hover, .col-results .list li.active{
     background-color: #4878af;
     background-image: url("../images/pdf_hover.png");
     color: #fff;
}
 #search-items .list li:hover a, #search-items .list li.active a{
     color: #fff;
}
 .poli-actions{
     float: right;
     display: none;
}
 .poli-actions i{
     padding: 0 6px;
}
 .col-results .list li:hover .poli-actions, .col-results .list li.active .poli-actions{
     display: inline-block;
}