.webinars .main-nav{
     background: #4978ae;
}
 .webinars .box-menus .item-box:hover {
     border: 0;
     cursor: inherit;
}
 .webinars .box-menus .item-box:before {
     display: none;
}
 #webinars-left{
     background-image: url(../images/sub-pages/webinars-bg.jpg);
     background-repeat: no-repeat;
     background-size: cover;
     background-position: right;
     position: relative;
     padding-left: 10%;
}
#webinars-left:before{
    width: 100%;
    height: 100%;
    content: "";
    display: block !important;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 2;
}
 #webinars-left h4{
     font-size: 42px;
     line-height: 44px;
     padding-left: 20px;
     margin-right: 50px;
     text-align: left;
}
 #webinars-left h5{
     font-size: 19px;
     line-height: 22px;
     z-index: 2;
}
.upcoming-webinars {
    max-width: 450px;
}
 .list-tick{
     z-index: 2;
 }
 .list-tick li{
     padding-left: 20px;
     position: relative;
     margin-bottom: 7px;
}

.list-tick li a {
    color: #fff;
}
 .list-tick-completed:before{
     position: absolute;
     content: "";
     left: 0;
     top: 5px;
     width: 15px;
     height: 11px;
     background: url("../images/icons/tick_hover.png") no-repeat;
}
 .list-tick-not-completed:before{
     position: absolute;
     content: "";
     left: 0;
     top: 5px;
     width: 15px;
     height: 11px;
     background: url("../images/icons/tick_normal.png") no-repeat;
}
#webinars-left ul{
    z-index: 2;
}
 #webinars-left ul li a{
     display: block;
     color: #fff;
     padding: 15px 20px 15px 20px;
 }
#webinars-left ul li a:hover, #webinars-left ul li a.active{
    background-color: #fff;
    color: #005697;
    text-decoration: none;
    width: 380px;
}
.ribbon {
    position: absolute;
    top: 15px;
    left: 0;
    padding: 14px 14px 14px 20px;
    color: #fff;
    font-weight: 700;
    background-color: #d52044;
    height: 30px;
}

.ribbon-icon {
    background: url("../images/icons/ribbon-icon.png") no-repeat;
     position: absolute;
     left: 4px;
     top: 5px;
     width: 15px;
     height: 18px;
}
 .webinbar-item a > img{
     width: 100%;
}
 .webinbar-item h4{
     font-size: 18px;
     color: #3a3838;
    font-family: "gotham_htfbook", Helvetica Neue, sans-serif;
}
 .webinbar-item a {
     color: #3a3838;

}
 .webinbar-item small{
     font-size: 15px;
     color: #3a3838;
}
 #search-items{
     background-color: #e0e2e3;
     color: #000;
     padding: 0;
}
 .main-nav #start-date.col-sm-6, .main-nav #ends-date.col-sm-6{
     padding: 0;
}
 #start-date li, #ends-date li{
     padding: 15px 5px;
     margin-bottom: 10px;
     height: 51px;
}
 #start-date li:hover, #ends-date li:hover, #start-date li.active, #ends-date li.active{
     background-color: #d42043;
     color: #fff;
}
 #start-date li:first-child, #ends-date li:first-child{
     background-color: #005596;
}
 #search-items select{
     padding: 5px 10px;
     background: #e0e2e3;
     height: 40px;
     line-height: 20px;
     border: 1px solid #646565;
     border-radius: 0px;
     width: 100%;
     -webkit-appearance: none;
     font-weight: bold;
     position: relative;
     background-image: url("../images/icons/search_icon.png");
     background-repeat: no-repeat;
     background-position: right center;
}
input, textarea{
    color: inherit;
}
input::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: inherit;
}
input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: inherit;
}
input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: inherit;
}
 #search-items input{
     height: 40px;
     padding: 5px 55px 5px 10px;
     border: 1px solid #646565;
     background: #e0e2e3;
     width: 100%;
     font-size: 16px;
}
 .col-results{
     padding: 10px 0;
}
 .col-results .list li{
     padding: 10px 15px 10px 90px;
     background: url("../images/pdf_normal.png") no-repeat 50px center;
}
.webinars h2 {
     font-size: 25px;
     margin-bottom: 10px;
}
 .p-search-wrap{
     position: relative;
}
 .p-search-wrap:after{
     position: absolute;
     content: "\f002";
     left: auto;
     font-size: 20px;
     top: 50%;
     font-family: "fontAwesome";
     right: 10px;
     margin-top: -10px;
}
 .video-wrap{
     position: relative;
     cursor: pointer;
}
 .video-wrap > img{
     width: 100%;
}

 .video-wrap .btn-play{
     position: absolute;
     background: transparent;
     border: 0;
     left: 50%;
     top: 50%;
     padding: 0;
     margin: 0;
     margin-top: -30px;
     margin-left: -30px;
}
 .video-wrap .btn-play:hover{
     cursor: pointer;
}
 .main-para p{
     margin-bottom: 15px;
}
 .main-content-page #webinars-main{
     color: #000;
     background-color: #f3f3f4;
}
 .webinar-info h2{
     color: #005697;
     font-size: 35px;
     font-family: "gotham_htfbold", Helvetica Neue, sans-serif;
     line-height: 37px;
}
 .webinar-info h3{
     margin: 5px 0 10px;
     font-size: 25px;
}

.text-left h3 {
    font-family: "gotham_htfbold", Helvetica Neue, sans-serif; 
    max-width: 70%;
}
 .webinar-date{
     font-style: italic;
}
 .category{
     display: none;
}
 .num-count{
     display: inline-block;
     color: #a8bace;
     font-size: 14px;
     margin-bottom: 5px;
     margin-right: 10px;
}
 #webinars-main .webinar-item{
     border-bottom: 1px solid #8c8f92
 }
 .num-count > img{
     padding-right: 7px;
}
 .prev-webinbar{
     color: #005697;
     font-size: 34px;
}
 .modal-title {
     margin-left: 0;
}
.btn.register-now {
    border: 0;
    border-radius: 0;
    color: #fff !important;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
}
 .pt-image {
     padding-top: 152px !important;
     padding-left: 30px;
}
 .pt-image span img{
     margin-right: 5px;
}
 .image-modal{
     border-radius: 50%;
     border: 5px solid #fff;
     top: 50px;
}
.webinar-img-wrap {
    position: relative;
    display: block;
    width: 100%;
    line-height: 0;
}
.webinar-img-wrap img{
    width: 100%;
}
.webinar-img-wrap em {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.7);
    font-style: normal;
    line-height: initial;
    padding: 3px 5px 3px 5px;
}
 @media (min-width: 576px){
     .modal-dialog {
         max-width: 700px;
    }
}
 @media (max-width: 575px){
     .pt-image {
         padding-top: 0 !important;
    }
     .modal-header{
         display: block;
         text-align: center;
    }
     .modal-content{
         display: block;
    }
}

.box-menus .item-box:before, .box-menus .collapse-menu:before {
    background-image: none !important;
}
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
    .box-menus .item-box {
        max-height: 650px;
    }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
    .box-menus .item-box {
        min-height: 800px;
    }
}

@media only screen  and (max-width : 1024px) {
    #webinars-left {
        padding-left: 0;
    }
    #webinars-left ul li a{
        display: block;
        color: #fff;
        padding: 20px;
    }
    #webinars-left h4 {
        padding-top: 15px;
    }
}