.box-menus .item-box {
  min-height: 350px;
}
.row.no-gutters.box-menus.two, .row.no-gutters.box-menus.three {
  min-height: 675px;
}
h4.d-inline-flex.flex-column{
  padding-top: 70px;
}
.box-menus .expanded-menu:before{
  background-color: #1e518a;
}
div#top-left-container:focus div#top-left,
div#top-middle-container:focus div#top-middle,
div#top-right-container:focus div#top-right,
div#middle-left-container:focus div#middle-left,
div#middle-middle-container:focus div#middle-middle,
div#middle-right-container:focus div#middle-right,
div#bottom-left-container:focus div#bottom-left,
div#bottom-middle-container:focus div#bottom-middle,
div#bottom-right-container:focus div#bottom-right  {
  background: #1e518a;
}
.seven .col-3-rows .item-box{
  min-height: 33.3333%;
}
.ten .col-5-10{
  width: 20%;
}
.eleven .col-3-rows .item-box{
  min-height: 33.33333%;
}

@media (max-width: 1024px) {
  .ten .col-5-10{
    width: 50%;
  }
}
@media (max-width: 767px) {
  .seven .col-3-rows .item-box{
    min-height: 350px
  }
  .ten .col-5-10{
    width: 100%;
  }
  .eleven .col-3-rows .item-box{
    min-height: 350px;
  }
}
@media (max-width: 575px) {
  .ten .col-5-10{
    width: 100%;
  }
}